[Unit]
Description=My Python Application
After=network.target

[Service]
User=root
WorkingDirectory=/home/root/myenv/
Environment="PATH=/var/www/myapp/myenv/bin"
ExecStart=/var/www/myapp/myenv/bin/uwsgi --ini myapp.ini
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.targ